.App {
  margin: 0;
  padding: 0;
  text-align: center;
}
.table {
  width: 80vw !important;
  margin: auto;
  margin-top: 4em;
}
thead {
  background: rgb(141,58,180);
  background: linear-gradient(90deg, rgba(141,58,180,1) 0%, rgba(85,107,171,1) 100%);
}
.table th {
  color: white !important;
}
/*.grid {*/
  /*width: 80vw !important;*/
  /*display: grid;*/
  /*grid-template-columns: 1fr 1fr 1fr;*/
  /*margin: auto;*/
  /*margin-top: 3em;*/
  /*justify-items: left;*/
/*}*/
.MuiPaper-root {
  margin: auto;
  padding: 1em;
}
.MuiGrid-root.MuiGrid-item {
  margin-top: 1em;
}

#loginForm {
  margin-top: 5em !important;
}

button {
  width: 100%;
  margin-bottom: 1rem !important;
  color: white !important;
  background: rgb(141,58,180);
  background: linear-gradient(90deg, rgba(141,58,180,1) 0%, rgba(85,107,171,1) 100%);
}

#extra-button {
  background: rgb(141,141,180);
  background: linear-gradient(90deg, rgba(141,141,180,1) 0%, rgba(85,107,171,1) 100%);
}
